/*---Google Fonts---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*---CSS Variables*/
:root {
    --header-height: 3rem;

    /*---Colors---*/
    /* Change favorite color */
    --hue-color: 190; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%) !important;
    --first-color-second: hsl(var(--hue-color), 69%, 61%) !important;
    --first-color-alt: hsl(var(--hue-color), 57%, 53%) !important;
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%) !important;
    --title-color: hsl(var(--hue-color), 8%, 16%) !important;
    --text-color: hsl(var(--hue-color), 8%, 45%) !important;
    --text-color-light: hsl(var(--hue-color), 8%, 65%) !important;
    --input-color: hsl(var(--hue-color), 70%, 96%) !important;
    --body-color: hsl(var(--hue-color), 60%, 99%) !important;
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%) !important;
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%) !important;
    --wave1: hsla(var(--hue-color), 69%, 61%, 0.8) !important;
    --wave2: hsla(var(--hue-color), 69%, 61%, 0.6) !important;
    --wave3: hsla(var(--hue-color), 69%, 61%, 0.4) !important;
    --wave4: hsla(var(--hue-color), 69%, 61%, 0.2) !important;

    /*---Font and typography---*/
    --body-font: 'Poppins', sans-serif;;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*---Font weight---*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*---Margenes Bottom---*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*---z index---*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .913rem;
    }
}

/*---Variables Dark Theme---*/
body.dark-theme{
    /* HSL color mode */
    
    --first-color-second: hsl(var(--hue-color), 30%, 8%) !important;
    --title-color: hsl(var(--hue-color), 8%, 95%) !important;
    --text-color: hsl(var(--hue-color), 8%, 75%) !important;
    --input-color: hsl(var(--hue-color), 29%, 16%) !important;
    --body-color: hsl(var(--hue-color), 28%, 12%) !important;
    --container-color: hsl(var(--hue-color), 29%, 16%) !important;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%) !important;
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%) !important;
    --wave1: hsla(var(--hue-color), 30%, 8%, 0.8) !important;
    --wave2: hsla(var(--hue-color), 30%, 8%, 0.6) !important;
    --wave3: hsla(var(--hue-color), 30%, 8%, 0.4) !important;
    --wave4: hsla(var(--hue-color), 30%, 8%, 0.2) !important;
}

/*---BASE---*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0 !important;
    font-family: var(--body-font) !important;
    font-size: var(--normal-font-size) !important;
    background-color: var(--body-color) !important;
    color: var(--text-color) !important;
}

h1,h2,h3,h4{
    color:var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*---Reusable CSS Classes---*/
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle{
    text-align: center;
}

/*---Layout---*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*---Nav---*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 1.1rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
}

/* show menu */
.show-menu{
    bottom: 0;
}

/* Active link */
.active-link{
    color: var(--first-color);
}

/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

/*---Button Light/Dark---*/
.nav_btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}

/*---Description---*/
.description__container{
    gap: 1rem;
    padding-top: 5rem;
}

.description__data{
    grid-column: 1/3;
}

.description__title{
    font-size: var(--big-font-size);
    text-align: center;
}

.description__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
    text-align: center;
}

.description__description{
    margin-bottom: var(--mb-2);
    text-align: center;
}

/*---SearchBar---*/

.search_bar.section{
    padding: 2rem 0 1rem 0;
}

form {
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 100%;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid var(--first-color);
    padding: 20px;
    transition: all 1s;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1rem;
    border-radius: 20px;
    padding: 0 20px;
    font-family: Helvetica;
    background: var(--first-color);
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    transition: all 1s;
}

form:hover {
    box-shadow: 0 0 30px rgb(255, 255, 255);
    cursor: pointer;
}

form:hover .fa {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

/*---Breeds---*/
.breed__container{
    grid-template-columns: repeat(3, 1fr);

}

.breedCard{
    background-color: var(--first-color);
    padding: 10px;
    border-radius: 25px;
    display:flex;
    color: black;
    font-size: small;
    transition: 0.7s;
}

.breedCard:hover{
    transform: scale(105%);
}

.breed_image{
    width: 150px;
    border-radius: 10px;
}

.card_details{
    background-color: #ffffff7f;
    padding: 5px;
    height: 9rem;
    margin:5px;
    border-radius: 10px;
    overflow: hidden;
}

.breed__description{
    font-size: x-small;
}

.breed__title{
    font-size: large;
    font-weight: 700;
}



/*---Buttons---*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
} 

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button--small{
    padding: .75rem 1rem;
}

.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}

/*---Footer---*/

.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
    
}

.footer__subtitle{
    font-size: var(--small-font-size);
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5;
}

.footer__link:hover{
    color: var(--first-color-lighter);
}

.footer__copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
    color: black;
}

.footer__title,
.footer__subtitle,
.footer__social,
.footer__link{
    color: white;
}



/*---Scroll Bar---*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }

    .nav__list{
        column-gap: 0;
    }

    

}

/* For medium devices */
@media screen and (min-width: 568px){
    
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }

    input{
        font-size: 2rem;
    }

}

@media screen and (min-width: 768px){

    body{
        margin: 0 0 0 0;
    }
    
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding: 5rem 0 4rem 0;
    }

    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }

    /* Need to be fixed -header-height */
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }

    .nav__list{
        display: flex;
        column-gap: 2rem    ;
    }

    .nav__menu{
        margin-left: auto;
    }

    .footer__container{
        /* grid-template-columns: repeat(3, 1fr); */
    }

    .footer__bg{
        padding: 3rem 0 3.5rem;
    }

    .footer__links{
        flex-direction: row;
        column-gap: 1rem;
    }

    .footer__copy{
        margin-top: 4.5rem;
    }


}



/* For large devices */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    
}

@media screen and (min-width: 1400px) {
   
    .container {
        max-width: 950px;
    }
    
    
}

/*404*/
.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  .error-page h1 {
    font-size: 30vh;
    font-weight: bold;
    position: relative;
    margin: -8vh 0 0;
    padding: 0;
  }
  .error-page h1:after {
    content: attr(data-h1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: transparent;
    /* webkit only for graceful degradation to IE */
    background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
    animation: animateTextBackground 10s ease-in-out infinite;
  }
  .error-page h1 + p {
    color: #d6d6d6;
    font-size: 8vh;
    font-weight: bold;
    line-height: 10vh;
    max-width: 600px;
    position: relative;
  }
  .error-page h1 + p:after {
    content: attr(data-p);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
  
  #particles-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  @keyframes animateTextBackground {
    0% {
      background-position: 0 0;
    }
    25% {
      background-position: 100% 0;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 0 100%;
    }
    100% {
      background-position: 0 0;
    }
  }
  @media (max-width: 767px) {
    .error-page h1 {
      font-size: 32vw;
    }
    .error-page h1 + p {
      font-size: 8vw;
      line-height: 10vw;
      max-width: 70vw;
    }
  }
  a.back {
    position: fixed;
    right: 40px;
    bottom: 40px;
    background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.25s all ease-in-out;
  }
  a.back:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }
